@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
body{
    height: 100vh;
    display: flex;
    padding: 0;
    flex-direction: column;
    background: black;
}
.index{
    height:100vh;
    overflow: hidden;
}
.main_content{
    position: relative;
    width: 100%;
    height: 100vh;
    
    
}
.particle_js,.home{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.home{
    background: black;
    z-index: -1;   
}
.bio h1{
    font-family: "poppins";
    color: aqua;
}
.roles{
    font-family: "poppins";
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
#home{
    animation: 0.3s ease-out 0s 1 slideindown;
}
#about{
    animation: 0.5s ease-out 0s 1 slideindown;
}
#project{
    animation: 0.7s ease-out 0s 1 slideindown;
}
#skills{
    animation: 0.9s ease-out 0s 1 slideindown;
}
.brand-title{
    animation: 0.3s ease-out 0s 1 slideindown;
    opacity: 0;
}


.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    visibility: hidden;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li a:hover{
    color: aqua;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.bio{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30vh;
    color: white;
}
.roles{
    display: flex;
    color: white;
    justify-content: center;
}

/*about section*/


.about_section{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.about{
    display: flex;
}
.information{
    color:white;
    display: block;
    margin: 10px;
    padding:20px
}
.timeline{
    display: block;
    color:white;
    margin:10px
}
.information h3{
    text-align: center;
    color:aqua;
    margin:10px;
}
.timeline h3{
    color: aqua;
}
.contact_links{
    text-align: center;
}
.contact h3{
    text-align: center;
    color: aqua;
}
.contact_links i{
    size:30px;
    color:white;
    margin: 10px;
}
.contact_links i:hover{
    color:aqua
}


  /* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
    border-left: 2px solid aqua;
}

/* Card container */
.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #333;
    color: white;
    border-radius: 8px;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Title of the card */
.title {
    color: aqua;
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid aqua;
}
.timeline h3{
    margin: 10px;
}  
.about_me span{
    color:aqua;
}
.education span{
    color:aqua;
    border-bottom: 2px solid aqua;
    margin-bottom:10px;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input,textarea{
    display: block;
    margin:20px;
    padding: 10px;
    width: 70%;
    background: #202024;
    color:white;
    border: 1px solid aqua; ;
}
.form button{
    display: block;
    margin:20px;
    padding: 10px;
    width: 70%;
    background: #202024;
    color:white;
    cursor: pointer;
}
.form input:focus{
    background: #202024;
}

.form input:visited{
    background: #202024;
}


.project{
    display: flex;
    height: 100vh;
    font-family: "poppins";
    color: white;
    flex-direction:column;
    align-items: center;
}
.projects_cards{
    display: flex;
    justify-content: space-between;
}
.project1{
    padding: 20px;
    justify-content: center;
    align-items: center;

}
.project2{
    padding: 20px;
    justify-content: center;
    align-items: center;

}
.project_img{
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}
.project1{
    animation: 1s ease-out 0s 1 slideindown;
}
.project1 button{
    background-color: aqua;
    padding: 10px;
    font-family: "poppins";
    border-radius: 5px;
    justify-content: center;
}
.project_title h2{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
}
.skills{
    font-family: "poppins";
    margin:20px;
    height: 100%;
    width: 100%;
}
.skills li{
    list-style: none;
    color:white;
}
.skills{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.section_1{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100vw;
}
.web_development{
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column; 
}
.web_development h3{
    color: aqua;
    display: block;
    margin: auto;
    animation: 0.5s ease-out 0s 1 slideindown;
}
.web_development,.Tools li{
    animation-name:slidein;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-duration: 1s;
    opacity: 1;
    
}
.app_development,.backend li{
    animation-name:slideinX;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-duration: 1s;
    opacity: 1;

}

.app_development h3{
    color: aqua;
    display: block;
    margin: auto;
    animation: 0.5s ease-out 0s 1 slideindown;
}
.app_development{
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.web_development li{
    margin-top: 10px;
    display: block;
    padding: 10px;
    font-size: larger;
    background-color:#202024;
    color: aqua;
    justify-items: center;
}
.app_development li{
    margin-top: 10px;
    display: block;
    padding: 10px;
    font-size: larger;
    background-color:#202024;
    color: aqua;
}
.section_2{
    display: flex;
    width: 100%;
    align-items:center;
    justify-content:center;


}
.Tools{
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    
}
.backend{
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.Tools li{
    margin-top: 10px;
    display: block;
    padding: 10px;
    font-size: larger;
    background-color:#202024;
    color: aqua;
    justify-items: center;
}
.Tools h3{
    color: aqua;
    display: block;
    margin: auto;
    animation: 0.5s ease-out 0s 1 slideindown;
}
.backend h3{
    color: aqua;
    display: block;
    margin: auto;
    animation: 0.5s ease-out 0s 1 slideindown;
}

.backend li{
    margin-top: 10px;
    display: block;
    padding: 10px;
    font-size: larger;
    background-color:#202024;
    color: aqua;
}


@media only screen and (max-width: 480px){
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }
    
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .card{
        font-size: 0.7rem;
        animation: 0.5s ease-out 0s 1 slideindown;
    }
    .main_content{
        position: relative;
        width: 100%;
        display: flex;
        height: 100vh;
    }
    .particle_js,.home{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .particle_js{
        height: 100%;
    }
    .home{
        z-index: -1;   
    }
    .about{
        display: flex;
        flex-direction: column;
    }




    .project{
        overflow: auto;
    }
    
    
    
    .projects_cards{
        flex-direction: column;
    }
    .section_1{
        display: flex;
        width: 100vh;
        flex-direction: column;
        align-items:center;
        justify-content:center;
    }
    .web_development{
        width: 100%;
        display: flex;
        flex-direction: column; 
    }
    .app_development{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;;
    }
    .section_2{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items:center;
        justify-content:center;
    }
    .Tools{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column; 
    }
    .backend{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;;
    }
    .skills{
        padding:10px;
    }
}
@media only screen and (max-width: 768px){
    
    .skills{
        display: flex;
        margin: 0;
    }
    .section_1{
        display: flex;
        align-items:center;
        justify-content:center;
        width: 100%;
    }
    .web_development{
        width: 50%;
        display: flex;
        flex-direction: column; 
    }
    .app_development{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .section_2{
        display: flex;
        width: 100%;
        /* flex-direction: row; */
    }
    .about_section{
        display: flex;
        flex-direction: column;
    }
    .Tools{
        width: 50%;
        margin: 20px;
        display: flex;
        flex-direction: column;  
    }
    .backend{
        width: 50%;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1024px){ 
    
    
    
    .main_content{
        position: relative;
        width: 100%;
        display: flex;
        height: 100vh;
    }
    .particle_js,.home{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .particle_js{
        height: 100%;
    }
    .nav_ul a{
        visibility: hidden;
    }
    .home{
        z-index: -1;   
    }
    .project{
        overflow: auto;
    }
          
    .projects_cards{
        flex-direction: column;
    }
    .section_1{
        display: flex;
        width: 100%;
        align-items:center;
        justify-content:center;
    }
    .web_development{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column; 
    }
    .app_development{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;;
    }
    .section_2{
        display: flex;
        width: 100%;
        align-items:center;
        justify-content:center;
    }
    .Tools{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column; 
    }
    .backend{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;;
    }
}
@keyframes slidein {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideinX {
    0% {
        transform: translateX(+200%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideindown {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}
@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes grow_animate {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}