@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    height: 100vh;
    padding: 0;
    background: #202024;
}

.preloader {
    background: #101010 url(../assets/preloader.gif) no-repeat center;
    background-size: 7%;
    width: 100%;
    height: 100vh;
}

.main_content {
    position: relative;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bio {
    display: flex;
    flex-direction: column;
}

.particles-js {
    z-index: 1000;

}

.bio h1 {
    font-family: "poppins";
    color: aqua;
}

.roles {
    font-family: "poppins";
}


.navbar {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: black;
    color: white;
    margin: auto;
    z-index: 1000;
}

.works {
    text-align: center;
    z-index: 2000;
    position: relative;
}

.works button {
    background-color: aqua;
    padding: 5px;
    margin: 10px;
    border: 2px solid aqua;
    border-radius: 5px;
    cursor: pointer;

}

.navbar {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #202024;
    color: white;
    margin: auto;
    z-index: 1000;
}

.brand-title {
    animation: 0.3s ease-out 0s 1 slideindown;
    opacity: 0;
}


.navbar-links {
    height: 100%;
    animation: 0.5s ease-out 0s 1 slideindown;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li a:hover {
    color: aqua;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.bio {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30vh;
    align-items: center;
    color: white;
}

.bio h1 {
    display: flex;
    text-align: center;
}

.roles {
    display: flex;
    color: white;
    justify-content: center;
}

/*about section*/


.about_section {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    backdrop-filter: saturate(180%) blur(10px);
}

.about {
    display: flex;
}

.contact_button button {
    background-color: aqua;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid aqua;
    border-radius: 5px;
}

.information {
    color: white;
    display: block;
    margin: 10px;
    padding: 20px
}

.timeline {
    display: block;
    color: white;
    margin: 10px
}

.information h3 {
    text-align: center;
    color: aqua;
    margin: 10px;
}

.timeline h3 {
    color: aqua;
}

.contact {
    background-color: #202024;

}

.contact_links {
    text-align: center;
}

.contact h3 {
    text-align: center;
    color: aqua;
}

.contact_links i {
    size: 30px;
    color: white;
    margin: 10px;
}

.contact_links i:hover {
    color: aqua
}


/* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
    border-left: 2px solid aqua;
}

/* Card container */
.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #333;
    color: white;
    border-radius: 8px;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Title of the card */
.title {
    color: aqua;
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid aqua;
}

.timeline h3 {
    margin: 10px;
}

.about_me span {
    color: aqua;
}

.education span {
    color: aqua;
    border-bottom: 2px solid aqua;
    margin-bottom: 10px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input,
textarea {
    display: block;
    margin: 20px;
    padding: 10px;
    width: 70%;
    background: #202024;
    color: white;
    border: 1px solid aqua;
    ;
}

.form button {
    display: block;
    margin: 20px;
    float: right;
    padding: 10px;
    width: 60px;
    background: #202024;
    color: white;
    cursor: pointer;
    border: 1px solid aqua;
    border-radius: 50px;
    text-align: center;
}

.form input:focus {
    background: #202024;
}

.form input:visited {
    background: #202024;
}

/*Project Section*/

.project {
    display: flex;
    max-width: 100%;
    background-color: #202024;
    /* background: url("../assets/bg.svg"); */
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
}

.section_1 {
    display: flex;
    width: 100%;
    text-align: center;
}

.section_2 {
    display: flex;
    width: 100%;
}

.project1 {
    display: flex;
    float: left;
    flex-direction: column;
    color: aqua;
    margin: 10px;
    padding: 10px;
    background-color: #202024;
    align-items: center;
    border: 5px solid #202024;
    border-radius: 1rem;
    backdrop-filter: blur(10px);

    animation: 1s ease-out 0s 1 slideindown;
}

.project1 > a > img,.project2 > a > img {
    object-fit: contain;
    width: 90%;
}

.project1:hover {
    box-shadow: 2px 2px 20px 2px aqua;
    transform: scale(1.1, 1.1);
}

.project2:hover {
    box-shadow: 2px 2px 20px 2px aqua;
    transform: scale(1.1, 1.1);
}

.project3:hover {
    box-shadow: 2px 2px 20px 2px aqua;
    transform: scale(1.1, 1.1);
}

.project4:hover {
    box-shadow: 2px 2px 20px 2px aqua;
    transform: scale(1.1, 1.1);
}

.project2 {
    display: flex;
    float: left;
    flex-direction: column;
    color: aqua;
    margin: 10px;
    padding: 10px;
    background-color: #202024;
    align-items: center;
    border: 5px solid #202024;
    border-radius: 1rem;
    animation: 1s ease-out 0s 1 slideindown;
}


.project1 i,
.project2 i,
.project3 i,
.project4 i {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    margin: 2px;
    color: aqua;
    justify-content: center;
}

.skills li {
    list-style: none;
    color: white;
}

.skills {
    display: flex;
    flex-direction: column;
    font-family: "poppins";
    background-color: #202024;

}

.section_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.web_development {
    width: 30%;
    margin: 20px;
    display: flex;

    flex-direction: column;
}

.domain_title {
    width: 100%;
    display: block;
    color: black;
    display: block;
    margin: auto;
    background-color: aqua;
    border: 2px solid aqua;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    animation: 0.5s ease-out 0s 1 slideindown;
}

.web_development li,
.Tools li {
    animation-name: slidein;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-duration: 1s;
    opacity: 1;
    border: 2px solid #202024;
    border-radius: 0px 0px 2px 2px;
    display: block;
    padding: 10px;
    font-size: larger;
    background-color: #202024;
    color: aqua;
    text-align: center;
    justify-items: center;
}

.app_development li,
.backend li {
    animation-name: slideinX;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-duration: 1s;
    opacity: 1;
    border: 2px solid #202024;
    border-radius: 0px 0px 2px 2px;
    display: block;
    padding: 10px;
    font-size: larger;
    text-align: center;
    background-color: #202024;
    color: aqua;
    cursor: pointer;
}

.app_development h3 {
    color: aqua;
    display: block;
    margin: auto;
    animation: 0.5s ease-out 0s 1 slideindown;
}

.app_development {
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.section_2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


}

.Tools {
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;

}

.backend {
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.Tools h3 {
    color: aqua;
    display: block;
    margin: auto;
    animation: 0.5s ease-out 0s 1 slideindown;
}

.backend h3 {
    color: aqua;
    display: block;
    margin: auto;
    animation: 0.5s ease-out 0s 1 slideindown;
}



@media only screen and (max-width: 480px) {


    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .project1 img {
        width: 70%;
    }

    .project2 img {
        width: 70%;
    }

    .project3 img {
        width: 70%;
    }

    .project4 img {
        width: 70%;
    }

    .project1 {
        display: flex;
        flex-direction: column;
        float: none;
        text-align: center;
    }

    .project2 {
        flex: 1;
        align-items: center;
        text-align: center;
    }

    .project3 {
        display: flex;
        flex-direction: column;
        float: none;
    }

    .project4 {
        flex: 1;
        align-items: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .card {
        font-size: 0.7rem;
        animation: 0.5s ease-out 0s 1 slideindown;
    }

    .particles-js {
        transform: scale(1.2);
        height: 700px;
    }


    .about {
        display: flex;
        flex-direction: column;
    }

    .project_cards {
        display: flex;
        flex-direction: column;
    }


    .section_1 {
        display: flex;
        width: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .web_development {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .app_development {
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        ;
    }

    .section_2 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Tools {
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .backend {
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        ;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {

    .skills {
        display: flex;
        margin: 0;
    }

    .project1 img {
        width: 70%;
    }

    .project2 img {
        width: 70%;
    }

    .project3 img {
        width: 70%;
    }

    .project4 {
        width: 70%;
    }

    .project1 {
        width: 40%;
        text-align: center;
        float: left;
    }

    .project2 p {

        text-align: center;
        font-size: smaller;
    }

    .project2 {
        width: 40%;
        text-align: center;
        /* float: right; */
    }

    .project3 {
        width: 40%;
        float: left;
    }

    .project4 {
        width: 40%;
        float: right;
    }

    .web_development {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .app_development {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .section_2 {
        display: flex;
        width: 100%;
        /* flex-direction: row; */
    }

    .about_section {
        display: flex;
        flex-direction: column;
    }

    .Tools {
        width: 50%;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .backend {
        width: 50%;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1024px) {





    .nav_ul a {
        visibility: hidden;
    }


    .section_1 {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .web_development {
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .app_development {
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        ;
    }

    .section_2 {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .Tools {
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .backend {
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        ;
    }
}

@keyframes slidein {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideinX {
    0% {
        transform: translateX(+200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideindown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes grow_animate {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}